

@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $timing-function: ease, $animation-fill-mode: forwards, $iterations: 1) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $animation-fill-mode; /* this prevents the animation from restarting! */
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-iteration-count: $iterations;


  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $animation-fill-mode; /* this prevents the animation from restarting! */
  -o-animation-timing-function: $timing-function;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-iteration-count: $iterations;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: $animation-fill-mode; /* this prevents the animation from restarting! */
  -o-animation-iteration-count: $iterations;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $animation-fill-mode; /* this prevents the animation from restarting! */
  animation-timing-function: $timing-function;
  animation-iteration-count: $iterations;
}
